@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;700&display=swap');


body {
    margin: 0;
    background-color: hsl(47, 88%, 63%);
    font-family:'Figtree';
    font-size: 1rem;
}


.container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 7rem;
}


.box {
    overflow: hidden;
    padding: 1rem;
    display: flex;
    background-color: hsl(0, 0%, 100%);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 350px;
    border-radius: 15px;
    border: 1px solid black;
    border-bottom: 6px solid #000;
    border-right: 6px solid #000;
    box-sizing: border-box;
    
    
}



.img {
    max-width: 310px; 
    border-radius: 10px;
    object-fit: cover;
    display: block;
}
 


.section__div {
    font-weight: bolder;
    background-color: hsl(47, 88%, 63%);
    width: 80px;
    text-align: center;
    border-radius: 5px;
}


.date {
    font-weight: 500;
    color: hsl(0, 0%, 7%);
}



.section__p-main {
    font-weight: 100;
    color: hsl(0, 0%, 42%);
}
 



 .active {
    white-space: nowrap;
    font-size: 1.5rem;
    cursor:pointer;
}

.active:hover {
    color:hsl(47, 88%, 63%) ;

}


.section__div-name {
    font-weight: bolder;
    display: flex;
    align-items: center;
    gap: 8px;
 }
 
 .section__div-name .user {
    width: 30px;
    height: 30px;
    object-fit: cover;
 }
 
 
 .attribution { 
    font-size: 11px; 
    text-align: center;
}
    
    
 .attribution a {
         color: hsl(228, 45%, 44%);
}



